*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header{
  /* background-color: lightblue; */
}
hr{
  width: 100vw;
}

/* Classi Generali */
.bottone-generale{
  color: white;
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}
.box{
  box-shadow: 0px 0px 3px black;
}

/* Barra Header */
header .contenitore-barra-header{
  background-color: #F4F9FD;
}
header .barra{
  width: 80%;
  margin: auto;
  height: 75px;
}
header .barra::after{
  content: '';
  display: block;
  clear: both;
}

header .barra .barra-sinistra ul{
  float: left;
}
header .barra .barra-destra ul{
  float: right;
}

header .barra .barra-sinistra ul li,
header .barra .barra-destra ul li{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  margin: 0px 15px;
  line-height: 75px;
}

header .barra .barra-sinistra ul li .fa-angle-down{
  border-right: 1px solid black;
  padding-right: 20px;
}

header .barra .barra-sinistra ul li a,
header .barra .barra-destra ul li a{
  text-decoration: none;
  color: black;
}

header .barra .barra-destra ul .bottone-login{
  color: #ff7a59;                     /* Orange*/
  background-color: white;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  padding: 10px;
}

header .barra .barra-destra ul .bottone-header{
  padding: 10px;
  color: white;
}
header .barra .barra-destra ul .fa-search{
  color: lightblue;
}

/* Nav Header */
nav{
  width: 80%;
  margin: auto;
  height: 75px;
}
nav::after{
  content: '';
  display: block;
  clear: both;
}

nav img{
  float: left;
  margin-top: 25px;
}
nav ul{
  /* background-color: lightyellow; */
  float: right;
}
nav ul li{
  display: inline-block;
  list-style: none;
  line-height: 75px;
  padding: 0px 15px;
}
nav ul .logo{
  margin-right: 0;
}
nav ul li a{
  text-decoration: none;
  color: black;
}



/* Main */
main .contenitore-sezione-1{
  background-color: #FFF1EE;
  height: 700px;
  background-image: url("../img/sfondo-sezione-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Sezione-1 */
main .sezione-1{
  width: 40%;
  margin-left: 10%;
  color: #33475B;         /*Colore Titoli*/
}

main .sezione-1 h2{
  font-size: 45px;
  padding-top: 45px;
  padding-bottom: 15px;
}
main .sezione-1 p{
  padding-top: 35px;
  padding-bottom: 35px;
}
main .sezione-1 a{
  text-decoration: none;
  padding: 15px 25px;
}
main .sezione-1 .paragrafo-piccolo{
  font-size: 10px;
}

/* Sezione 2 */
main .contenitore-sezione-2{
  background-color: #F5F8FA;
  height: 1000px;
}

/* Sottosezione 1 */
main .sottosezione-1{
  width: 50%;
  margin: auto;
  /* background-color: lightblue; */
  /* height: 500px; */
  text-align: center;
  color: #33475B;
}
main .sottosezione-1 img{
  height: 200px;
  object-fit: contain;
  margin-top: 30px;
}

main .sottosezione-1 h3{
  font-size: 30px;
  margin-bottom: 15px;
}


/* Sottosezione 2 */
main .sottosezione-2{
  width: 80%;
  margin: auto;
  background-color: white;
  margin-top: 30px;
  height: 300px;
}
/* main .sottosezione-2::after{
  content: '';
  display: block;
  clear: both;
} */
main .contenitore-sinistra-sottosezione-2{
  /* background-color: lightyellow; */
  width: 30%;
  text-align: center;
  display: inline-block;
}
main .contenitore-destra-sottosezione-2{
  /* background-color: orange; */
  width: 65%;
  display: inline-block;
}

main .sottosezione-2 img{
  height: 150px;
  object-fit: contain;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 65px;
}
main .sottosezione-2 a{
  text-decoration: none;
  padding: 15px 25px;
}

main .sottosezione-2 h4{
  font-size: 25px;
  padding: 15px 0px;
  color: #33475B;
}
main .sottosezione-2 h5{
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 0px;
  color: #33475B;
}
main .sottosezione-2 ul li{
  display: inline-block;
  list-style: none;
  padding-right: 15px;
}
main .sottosezione-2 .fa-check-circle{
  color: #ff7a59;
}
