*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header{
  /* background-color: lightblue; */
}
hr{
  width: 100%;
}

/* Classi Generali */
.larghezza{
  width: 80%;
  margin: auto;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.paragrafo-piccolo{
  font-size: 10px;
}
.bottone-generale{
  color: white;
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}
.bottone-learn{
  text-decoration: none;
  padding: 15px 25px;
  display: inline-block;
  margin-bottom: 20px;
}
.box{
  box-shadow: 0px 0px 3px black;
  background-color: white;
}
li{
  list-style: none;
}
img.foto{
  height: 150px;
  object-fit: contain;
}
h4, h3, h2{
  font-size: 25px;
  padding: 15px 0px;
  color: #33475B;
}
h5{
  text-transform: uppercase;
  font-size: 20px;
  color: #33475B;
}
.fa-check-circle{
  color: #ff7a59;
}

/* Barra Header */
header .contenitore-barra-header{
  background-color: #F4F9FD;
}
header .barra{
  height: 75px;
}

header .barra .barra-sinistra ul{
  float: left;
}
header .barra .barra-destra ul{
  float: right;
}

header .barra .barra-sinistra ul li,
header .barra .barra-destra ul li{
  display: inline-block;
  margin: 0px 15px;
  line-height: 75px;
}

header .barra .barra-sinistra ul li .fa-angle-down{
  border-right: 1px solid black;
  padding-right: 20px;
}

header .barra .barra-sinistra ul li a,
header .barra .barra-destra ul li a{
  text-decoration: none;
  color: black;
}

header .barra .barra-destra ul .bottone-login{
  color: #ff7a59;                     /* Orange*/
  background-color: white;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  padding: 10px;
}

header .barra .barra-destra ul .bottone-header{
  padding: 10px;
  color: white;
}
header .barra .barra-destra ul .fa-search{
  color: lightblue;
}

/* Nav Header */
nav{
  height: 75px;
}
nav::after{
  content: '';
  display: block;
  clear: both;
}

nav img{
  float: left;
  margin-top: 25px;
}
nav ul{
  /* background-color: lightyellow; */
  float: right;
}
nav ul li{
  display: inline-block;
  line-height: 75px;
  padding: 0px 15px;
}
nav ul .logo{
  margin-right: 0;
}
nav ul li a{
  text-decoration: none;
  color: black;
}



/* Main */
main .contenitore-sezione-1{
  background-color:#FFF3EF;
  height: 700px;
  background-image: url("../img/sfondo-sezione-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

/* Sezione-1 */
main .sezione-1{
  width: 40%;
  margin-left: 10%;
  color: #33475B;         /*Colore Titoli*/
}

main .sezione-1 h2{
  font-size: 45px;
  padding-top: 45px;
  padding-bottom: 15px;
}
main .sezione-1 p{
  padding-top: 35px;
  padding-bottom: 35px;
}
main .sezione-1 a{
  text-decoration: none;
  padding: 15px 25px;
}

main .contenitore-verde-acqua{
  background-color: #B0EAE4;
  height: 12%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

/* Sezione 2 */
main .contenitore-sezione-2{
  background-color: #F5F8FA;
}

/* Sottosezione 1 */
main .sottosezione-1{
  width: 50%;
  margin: auto;
  /* background-color: lightblue; */
  /* height: 500px; */
  text-align: center;
  color: #33475B;
}
main .sottosezione-1 img{
  height: 200px;
  object-fit: contain;
  margin-top: 30px;
}

main .sottosezione-1 h3{
  font-size: 30px;
  margin-bottom: 15px;
}


/* Sottosezione 2 */
main .sottosezione-2{
  margin-top: 30px;
  height: 300px;
}
main .contenitore-sinistra-sottosezione-2{
  /* background-color: lightyellow; */
  width: 30%;
  text-align: center;
  display: inline-block;
}
main .contenitore-destra-sottosezione-2{
  /* background-color: orange; */
  width: 65%;
  display: inline-block;
}

main .sottosezione-2 img{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 65px;
}

main .sottosezione-2 h5{
  /* background-color: yellow; */
  width: 30%;
  padding: 15px 0px;
  display: inline-block;
}
main .sottosezione-2 hr{
  display: inline-block;
  width: 60%;
  margin-left: 50px;
  vertical-align: middle;
}
main .sottosezione-2 ul li{
  display: inline-block;
  list-style: none;
  padding-right: 15px;
}


/* Sottosezione 3 */
main .sottosezione-3{
  margin-top: 30px;
  /* height: 1000px; */
  /* background-color: orange; */
}
main .sottosezione-3::after{
  content: '';
  display: block;
  clear: both;
  margin-bottom: 30px;
}

main .sottosezione-3 .box-sinistra,
main .sottosezione-3 .box-centro,
main .sottosezione-3 .box-destra{
  width: 30%;
  float: left;
  text-align: center;
}
main .sottosezione-3 .box-centro{
  margin: 0px 5%;
}
main .sottosezione-3 img{
  margin-top: 10px;
}
main .sottosezione-3 .box p{
  width: 60%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 45px;
}
main .sottosezione-3 .box h5{
  padding: 15px 0px;
}
main .sottosezione-3 .box ul{
  padding-bottom: 30px;
  text-align: left;
  margin-left: 25px;
}

/* Sezione 3 */
.contenitore-sezione-3{
  height: 700px;
  background: rgb(1,172,180);
  background: linear-gradient(82deg, rgba(1,172,180,1) 0%, rgba(2,188,165,1) 100%);
}
.testo-sezione-3{
  color: white;
  text-align: center;
}
.testo-sezione-3 h3{
  font-size: 35px;
  padding: 35px 0px;
}
.testo-sezione-3 p{
  font-size: 20px;
  padding: 15px 0px;
  margin-bottom: 30px;
}

.tabella-sezione-3 .tabella{
  width: 25%;
  /* height: 50px; */
  float: left;
  text-align: center;
  color: white;
}
.tabella-sezione-3 .tabella img{
  margin: 10px 0px;
}
.tabella-sezione-3 .tabella h3{
  font-size: 40px;
}
.tabella-sezione-3 .tabella span{
  font-weight: lighter;
  font-size: 25px;
}
.tabella-sezione-3 .tabella span.titoletto{
  font-size: 13px;
  font-weight: normal;
  margin: 20px 0px;
  display: inline-block;
}
.tabella-sezione-3 .contenuto-1,
.tabella-sezione-3 .contenuto-2,
.tabella-sezione-3 .contenuto-3,
.tabella-sezione-3 .contenuto-4{
  border-bottom: 1px solid white;
}
.tabella-sezione-3 .contenuto-1,
.tabella-sezione-3 .contenuto-2,
.tabella-sezione-3 .contenuto-3,
.tabella-sezione-3 .contenuto-5,
.tabella-sezione-3 .contenuto-6,
.tabella-sezione-3 .contenuto-7{
  border-right: 1px solid white;
}

/* Sezione 4 */
.sezione-4{
  margin-top: 30px;
}
.primo-container-sinistra{
  width: 30%;
  /* background-color: yellow; */
  float: left;
  text-align: center;
}
.primo-container-destra{
  width: 70%;
  /* background-color: orange; */
  float: left;
}

.primo-container-sinistra h2{
  margin-top: 20px;
}
.primo-container-sinistra p{
  width: 70%;
  margin: auto;
  color: #33475B;
}

.primo-container-destra img{
  width: calc(25% - 14px);
  object-fit: contain;
  vertical-align: middle;
  padding: 15px 0px;
  margin: 0px 5px;
}

.contenitore-basso-sezione-4{
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
.secondo-container-sinistra{
  width: 35%;
  float: left;
}
.secondo-container-destra{
  width: 65%;
  float: left;
}

.secondo-container-sinistra h3{
  font-size: 35px;
}
.secondo-container-sinistra p{
  color: #33475B;
  margin: 25px 0px;
}
.secondo-container-sinistra a{
  text-decoration: none;
  padding: 15px 25px;
  display: inline-block;
}
.secondo-container-destra img{
  width: 35%;
  margin-left: 50%;
  object-fit: contain;
}

/* Footer */
footer{
  background-color: #2D3F4F;
  /* background-color: orange; */
  margin-top: 30px;
}
footer .contenitore-footer{
  width: 90%;
  margin: auto;
}
footer .footer-barra{
  width: 25%;
  float: left;
}

footer .footer-barra li a.primo-lista{
  color: white;
  font-weight: bold;
}
footer .footer-barra li{
  padding: 5px 0px;
}
footer .footer-barra li a{
  text-decoration: none;
  color: lightgrey;
}
footer .footer-barra li a.bottone-support{
  display: inline-block;
  color: black;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
}
footer .footer-barra li.social{
  display: inline-block;
}
footer .footer-barra li.social a{
  padding: 0px 15px;
}


footer .footer-seconda-parte ul{
  text-align: center;
}
footer .footer-seconda-parte ul li{
  display: inline-block;
  color: lightgrey;
  margin: 0px 10px;
}
footer .footer-seconda-parte hr{
  margin: 20px 0px;
}

footer .footer-basso-sinistra{
  float: left;
}
footer .footer-basso-destra{
  float: right;
  margin-bottom: 100px;
}


footer .footer-basso-sinistra span{
  display: block;
  color: white;
}
footer .footer-basso-destra a{
  text-decoration: none;
  color: lightgrey;
  margin: 0px 15px;
}
