*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header{
  /* background-color: lightblue; */
}
hr{
  width: 100vw;
}

/* Classi Generali */
.bottone-generale{
  color: white;
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}

/* Barra Header */
header .contenitore-barra-header{
  background-color: #F4F9FD;
}
header .barra{
  width: 80%;
  margin: auto;
  height: 75px;
}
header .barra::after{
  content: '';
  display: block;
  clear: both;
}

header .barra .barra-sinistra ul{
  float: left;
}
header .barra .barra-destra ul{
  float: right;
}

header .barra .barra-sinistra ul li,
header .barra .barra-destra ul li{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  margin: 0px 15px;
  line-height: 75px;
}

header .barra .barra-sinistra ul li .fa-angle-down{
  border-right: 1px solid black;
  padding-right: 20px;
}

header .barra .barra-sinistra ul li a,
header .barra .barra-destra ul li a{
  text-decoration: none;
  color: black;
}

header .barra .barra-destra ul .bottone-login{
  color: #ff7a59;                     /* Orange*/
  background-color: white;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  padding: 10px;
}

header .barra .barra-destra ul .bottone-header{
  padding: 10px;
  color: white;
}
header .barra .barra-destra ul .fa-search{
  color: lightblue;
}

/* Nav Header */
nav{
  width: 80%;
  margin: auto;
  height: 75px;
}
nav::after{
  content: '';
  display: block;
  clear: both;
}

nav img{
  float: left;
  margin-top: 25px;
}
nav ul{
  /* background-color: lightyellow; */
  float: right;
}
nav ul li{
  display: inline-block;
  list-style: none;
  line-height: 75px;
  padding: 0px 15px;
}
nav ul .logo{
  margin-right: 0;
}
nav ul li a{
  text-decoration: none;
  color: black;
}



/* Main */
main .contenitore-sezione-1{
  background-color: #FFF1EE;
  height: 1000px;
  background-image: url("../img/sfondo-sezione-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Sezione-1 */
main .sezione-1{
  width: 40%;
  margin-left: 10%;
  color: #33475B;
}

main .sezione-1 h2{
  font-size: 45px;
  padding-top: 45px;
  padding-bottom: 15px;
}
main .sezione-1 p{
  padding-top: 35px;
  padding-bottom: 35px;
}
main .sezione-1 a{
  text-decoration: none;
  padding: 15px 25px;
}
main .sezione-1 .paragrafo-piccolo{
  font-size: 10px;
}
